In [383]:
import pandas as pd

In [384]:
df = pd.read_csv('new_scores2.csv')
df.drop(labels=["DeltaMADRS","Unnamed: 0","number",'afftype','melanch','inpatient',"age","madrs2","marriage","work","depressed","Mean_Q99Act","Std_Q99Act","Stress","days"],axis=1,inplace=True)

#,"Mean_MeanAct","Std_MeanAct","Mean_Q99Act","Std_Q99Act","marriage","gender","age","depressed","madrs1","work","depressed"

In [385]:
df

    gender  madrs1  Mean_MeanAct  Std_MeanAct  CV_MeanAct  CV_Q99Act
0        2    19.0    152.199630    59.218240    0.389083   0.430764
1        2    24.0    211.280738    80.924414    0.383018   0.343656
2        1    24.0    280.810714    61.577770    0.219286   0.179004
3        2    20.0    286.064732   166.280241    0.581268   0.356289
4        2    26.0    172.622371    46.444164    0.269051   0.199776
5        1    18.0    194.754861    38.794611    0.199197   0.107774
6        1    24.0    295.975588   148.639974    0.502203   0.242889
7        2    20.0    200.443750    95.169158    0.474792   0.413185
8        2    26.0    177.031624    25.805786    0.145769   0.106936
9        2    28.0    296.403373    84.898469    0.286429   0.151661
10       1    24.0    130.193472    64.907332    0.498545   0.254162
11       2    25.0    152.202579    63.119931    0.414710   0.274219
12       2    18.0    250.221389    66.762782    0.266815   0.137861
13       1    28.0     73.919345    24.937508    0.337361   0.377598
14       2    14.0    110.199752    60.377039    0.547887   0.359896
15       1    13.0    224.404707    75.568803    0.336752   0.236589
16       1    17.0     86.658532    11.406454    0.131625   0.572878
17       2    18.0     71.438393     9.301415    0.130202   0.145077
18       2    26.0    160.592807    72.269296    0.450016   0.169435
19       1    27.0     65.370585    17.739953    0.271375   0.163344
20       2    26.0     77.849145    21.376152    0.274584   0.180035
21       1    29.0    162.231448    30.468369    0.187808   0.165627
22       1    29.0    246.393505    59.113570    0.239915   0.153810
23       2     NaN    193.090712    79.180375    0.410068   0.279373
24       1     NaN    407.458697   137.730227    0.338023   0.172206
25       2     NaN    249.641270    52.558532    0.210536   0.129093
26       1     NaN    186.394213    59.268265    0.317973   0.174571
27       1     NaN    246.008987   132.278665    0.537699   0.374214
28       1     NaN    279.535294   124.969577    0.447062   0.277178
29       1     NaN    360.261161   127.277609    0.353293   0.594511
30       2     NaN    380.200787   125.202102    0.329305   0.311407
31       2     NaN    141.170370    47.241626    0.334643   0.234871
32       1     NaN    290.439782    83.298433    0.286801   0.173929
33       1     NaN    189.521726    57.936198    0.305697   0.216150
34       1     NaN    139.782917    48.599370    0.347677   0.207536
35       1     NaN    175.276835    65.257581    0.372311   0.214558
36       1     NaN    362.287450   109.543682    0.302367   0.160735
37       1     NaN    291.706300    51.202618    0.175528   0.121375
38       2     NaN    225.280602    78.711319    0.349392   0.265545
39       1     NaN    242.138194    61.259673    0.252995   0.133808
40       2     NaN    282.217659    88.677220    0.314216   0.187948
41       1     NaN    202.425000    73.011898    0.360686   0.278093
42       1     NaN    322.976574   122.231605    0.378453   0.420276
43       1     NaN    259.116419    54.876174    0.211782   0.142773
44       1     NaN    251.869395    61.470476    0.244057   0.171781
45       1     NaN    197.056746    50.742277    0.257501   0.169878
46       2     NaN    357.708978   119.861709    0.335082   0.457347
47       1     NaN    305.307490    70.544510    0.231061   0.090260
48       1     NaN    315.507726   126.421423    0.400692   0.309693
49       2     NaN    315.666720    45.706994    0.144795   0.083808
50       2     NaN    291.968750    43.967642    0.150590   0.101972
51       2     NaN    266.399802    64.431611    0.241861   0.125099
52       2     NaN    218.864782    69.881553    0.319291   0.301181
53       1     NaN    333.077480   119.620569    0.359137   0.385630
54       2     NaN    156.984375    48.369562    0.308117   0.107522

In [386]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gender        55 non-null     int64
 1   madrs1        23 non-null     float64
 2   Mean_MeanAct  55 non-null     float64
 3   Std_MeanAct   55 non-null     float64
 4   CV_MeanAct    55 non-null     float64
 5   CV_Q99Act     55 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 2.7 KB

In [387]:
df.shape

(55, 6)

In [388]:
df.isnull().sum()

gender           0
madrs1          32
Mean_MeanAct     0
Std_MeanAct      0
CV_MeanAct       0
CV_Q99Act        0
dtype: int64

In [389]:

test_data = df[df["madrs1"].isnull()]

In [390]:
test_data

    gender  madrs1  Mean_MeanAct  Std_MeanAct  CV_MeanAct  CV_Q99Act
23       2     NaN    193.090712    79.180375    0.410068   0.279373
24       1     NaN    407.458697   137.730227    0.338023   0.172206
25       2     NaN    249.641270    52.558532    0.210536   0.129093
26       1     NaN    186.394213    59.268265    0.317973   0.174571
27       1     NaN    246.008987   132.278665    0.537699   0.374214
28       1     NaN    279.535294   124.969577    0.447062   0.277178
29       1     NaN    360.261161   127.277609    0.353293   0.594511
30       2     NaN    380.200787   125.202102    0.329305   0.311407
31       2     NaN    141.170370    47.241626    0.334643   0.234871
32       1     NaN    290.439782    83.298433    0.286801   0.173929
33       1     NaN    189.521726    57.936198    0.305697   0.216150
34       1     NaN    139.782917    48.599370    0.347677   0.207536
35       1     NaN    175.276835    65.257581    0.372311   0.214558
36       1     NaN    362.287450   109.543682    0.302367   0.160735
37       1     NaN    291.706300    51.202618    0.175528   0.121375
38       2     NaN    225.280602    78.711319    0.349392   0.265545
39       1     NaN    242.138194    61.259673    0.252995   0.133808
40       2     NaN    282.217659    88.677220    0.314216   0.187948
41       1     NaN    202.425000    73.011898    0.360686   0.278093
42       1     NaN    322.976574   122.231605    0.378453   0.420276
43       1     NaN    259.116419    54.876174    0.211782   0.142773
44       1     NaN    251.869395    61.470476    0.244057   0.171781
45       1     NaN    197.056746    50.742277    0.257501   0.169878
46       2     NaN    357.708978   119.861709    0.335082   0.457347
47       1     NaN    305.307490    70.544510    0.231061   0.090260
48       1     NaN    315.507726   126.421423    0.400692   0.309693
49       2     NaN    315.666720    45.706994    0.144795   0.083808
50       2     NaN    291.968750    43.967642    0.150590   0.101972
51       2     NaN    266.399802    64.431611    0.241861   0.125099
52       2     NaN    218.864782    69.881553    0.319291   0.301181
53       1     NaN    333.077480   119.620569    0.359137   0.385630
54       2     NaN    156.984375    48.369562    0.308117   0.107522

In [391]:
df.dropna(inplace=True)

In [392]:
df

    gender  madrs1  Mean_MeanAct  Std_MeanAct  CV_MeanAct  CV_Q99Act
0        2    19.0    152.199630    59.218240    0.389083   0.430764
1        2    24.0    211.280738    80.924414    0.383018   0.343656
2        1    24.0    280.810714    61.577770    0.219286   0.179004
3        2    20.0    286.064732   166.280241    0.581268   0.356289
4        2    26.0    172.622371    46.444164    0.269051   0.199776
5        1    18.0    194.754861    38.794611    0.199197   0.107774
6        1    24.0    295.975588   148.639974    0.502203   0.242889
7        2    20.0    200.443750    95.169158    0.474792   0.413185
8        2    26.0    177.031624    25.805786    0.145769   0.106936
9        2    28.0    296.403373    84.898469    0.286429   0.151661
10       1    24.0    130.193472    64.907332    0.498545   0.254162
11       2    25.0    152.202579    63.119931    0.414710   0.274219
12       2    18.0    250.221389    66.762782    0.266815   0.137861
13       1    28.0     73.919345    24.937508    0.337361   0.377598
14       2    14.0    110.199752    60.377039    0.547887   0.359896
15       1    13.0    224.404707    75.568803    0.336752   0.236589
16       1    17.0     86.658532    11.406454    0.131625   0.572878
17       2    18.0     71.438393     9.301415    0.130202   0.145077
18       2    26.0    160.592807    72.269296    0.450016   0.169435
19       1    27.0     65.370585    17.739953    0.271375   0.163344
20       2    26.0     77.849145    21.376152    0.274584   0.180035
21       1    29.0    162.231448    30.468369    0.187808   0.165627
22       1    29.0    246.393505    59.113570    0.239915   0.153810

In [393]:
x_train = df.drop("madrs1",axis=1)

In [394]:
x_train

    gender  Mean_MeanAct  Std_MeanAct  CV_MeanAct  CV_Q99Act
0        2    152.199630    59.218240    0.389083   0.430764
1        2    211.280738    80.924414    0.383018   0.343656
2        1    280.810714    61.577770    0.219286   0.179004
3        2    286.064732   166.280241    0.581268   0.356289
4        2    172.622371    46.444164    0.269051   0.199776
5        1    194.754861    38.794611    0.199197   0.107774
6        1    295.975588   148.639974    0.502203   0.242889
7        2    200.443750    95.169158    0.474792   0.413185
8        2    177.031624    25.805786    0.145769   0.106936
9        2    296.403373    84.898469    0.286429   0.151661
10       1    130.193472    64.907332    0.498545   0.254162
11       2    152.202579    63.119931    0.414710   0.274219
12       2    250.221389    66.762782    0.266815   0.137861
13       1     73.919345    24.937508    0.337361   0.377598
14       2    110.199752    60.377039    0.547887   0.359896
15       1    224.404707    75.568803    0.336752   0.236589
16       1     86.658532    11.406454    0.131625   0.572878
17       2     71.438393     9.301415    0.130202   0.145077
18       2    160.592807    72.269296    0.450016   0.169435
19       1     65.370585    17.739953    0.271375   0.163344
20       2     77.849145    21.376152    0.274584   0.180035
21       1    162.231448    30.468369    0.187808   0.165627
22       1    246.393505    59.113570    0.239915   0.153810

In [395]:
y_train = df["madrs1"]

In [396]:
y_train

0     19.0
1     24.0
2     24.0
3     20.0
4     26.0
5     18.0
6     24.0
7     20.0
8     26.0
9     28.0
10    24.0
11    25.0
12    18.0
13    28.0
14    14.0
15    13.0
16    17.0
17    18.0
18    26.0
19    27.0
20    26.0
21    29.0
22    29.0
Name: madrs1, dtype: float64

In [397]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
#lr = RandomForestClassifier()
lr = LinearRegression()

In [398]:
lr.fit(x_train, y_train)

LinearRegression()

In [399]:
x_test = test_data[["Mean_MeanAct","Std_MeanAct","CV_MeanAct","CV_Q99Act"]]

In [400]:
x_test

    Mean_MeanAct  Std_MeanAct  CV_MeanAct  CV_Q99Act  gender
23    193.090712    79.180375    0.410068   0.279373       2
24    407.458697   137.730227    0.338023   0.172206       1
25    249.641270    52.558532    0.210536   0.129093       2
26    186.394213    59.268265    0.317973   0.174571       1
27    246.008987   132.278665    0.537699   0.374214       1
28    279.535294   124.969577    0.447062   0.277178       1
29    360.261161   127.277609    0.353293   0.594511       1
30    380.200787   125.202102    0.329305   0.311407       2
31    141.170370    47.241626    0.334643   0.234871       2
32    290.439782    83.298433    0.286801   0.173929       1
33    189.521726    57.936198    0.305697   0.216150       1
34    139.782917    48.599370    0.347677   0.207536       1
35    175.276835    65.257581    0.372311   0.214558       1
36    362.287450   109.543682    0.302367   0.160735       1
37    291.706300    51.202618    0.175528   0.121375       1
38    225.280602    78.711319    0.349392   0.265545       2
39    242.138194    61.259673    0.252995   0.133808       1
40    282.217659    88.677220    0.314216   0.187948       2
41    202.425000    73.011898    0.360686   0.278093       1
42    322.976574   122.231605    0.378453   0.420276       1
43    259.116419    54.876174    0.211782   0.142773       1
44    251.869395    61.470476    0.244057   0.171781       1
45    197.056746    50.742277    0.257501   0.169878       1
46    357.708978   119.861709    0.335082   0.457347       2
47    305.307490    70.544510    0.231061   0.090260       1
48    315.507726   126.421423    0.400692   0.309693       1
49    315.666720    45.706994    0.144795   0.083808       2
50    291.968750    43.967642    0.150590   0.101972       2
51    266.399802    64.431611    0.241861   0.125099       2
52    218.864782    69.881553    0.319291   0.301181       2
53    333.077480   119.620569    0.359137   0.385630       1
54    156.984375    48.369562    0.308117   0.107522       2

In [401]:
y_pred = lr.predict(x_test)

C:\Users\james\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [402]:
y_pred

array([-182.70696399, -369.50554997, -236.45559691, -161.91813926,
       -217.05133743, -248.93312385, -323.56574492, -358.31251718,
       -134.14521697, -259.63968729, -164.70007253, -118.01535175,
       -151.31074058, -327.15352315, -261.08194344, -213.00466043,
       -214.44551862, -266.78076684, -176.56319849, -289.20734487,
       -230.37377922, -223.44342318, -171.96763308, -336.63168299,
       -273.94878875, -282.60504626, -298.67530671, -276.34272399,
       -252.19761424, -206.85470706, -298.83424718, -149.48742693])

In [403]:
test_data['y_pred'] = y_pred

C:\Users\james\AppData\Local\Temp\ipykernel_10164\2303368509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['y_pred'] = y_pred

In [404]:
test_data

,gender,madrs1,Mean_MeanAct,Std_MeanAct,CV_MeanAct,CV_Q99Act,y_pred
23,2,NaN,193.090712,79.180375,0.410068,0.279373,-182.706964
24,1,NaN,407.458697,137.730227,0.338023,0.172206,-369.505550
25,2,NaN,249.641270,52.558532,0.210536,0.129093,-236.455597
26,1,NaN,186.394213,59.268265,0.317973,0.174571,-161.918139
27,1,NaN,246.008987,132.278665,0.537699,0.374214,-217.051337
28,1,NaN,279.535294,124.969577,0.447062,0.277178,-248.933124
29,1,NaN,360.261161,127.277609,0.353293,0.594511,-323.565745
30,2,NaN,380.200787,125.202102,0.329305,0.311407,-358.312517
31,2,NaN,141.170370,47.241626,0.334643,0.234871,-134.145217
32,1,NaN,290.439782,83.298433,0.286801,0.173929,-259.639687
33,1,NaN,189.521726,57.936198,0.305697,0.216150,-164.700073
34,1,NaN,139.782917,48.599370,0.347677,0.207536,-118.015352
35,1,NaN,175.276835,65.257581,0.372311,0.214558,-151.310741
36,1,NaN,362.287450,109.543682,0.302367,0.160735,-327.153523
37,1,NaN,291.706300,51.202618,0.175528,0.121375,-261.081943
38,2,NaN,225.280602,78.711319,0.349392,0.265545,-213.004660
39,1,NaN,242.138194,61.259673,0.252995,0.133808,-214.445519
40,2,NaN,282.217659,88.677220,0.314216,0.187948,-266.780767
41,1,NaN,202.425000,73.011898,0.360686,0.278093,-176.563198
42,1,NaN,322.976574,122.231605,0.378453,0.420276,-289.207345
43,1,NaN,259.116419,54.876174,0.211782,0.142773,-230.373779
44,1,NaN,251.869395,61.470476,0.244057,0.171781,-223.443423
45,1,NaN,197.056746,50.742277,0.257501,0.169878,-171.967633
46,2,NaN,357.708978,119.861709,0.335082,0.457347,-336.631683
47,1,NaN,305.307490,70.544510,0.231061,0.090260,-273.948789
48,1,NaN,315.507726,126.421423,0.400692,0.309693,-282.605046
49,2,NaN,315.666720,45.706994,0.144795,0.083808,-298.675307
50,2,NaN,291.968750,43.967642,0.150590,0.101972,-276.342724
51,2,NaN,266.399802,64.431611,0.241861,0.125099,-252.197614
52,2,NaN,218.864782,69.881553,0.319291,0.301181,-206.854707
53,1,NaN,333.077480,119.620569,0.359137,0.385630,-298.834247
54,2,NaN,156.984375,48.369562,0.308117,0.107522,-149.487427