In [3]:
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [4]:
df = pd.read_csv('scores.csv')

In [5]:
df

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,condition_7,11,1,20-24,1.0,2.0,2.0,11-15,2.0,1.0,24.0,25.0
7,condition_8,5,2,25-29,2.0,2.0,2.0,11-15,1.0,2.0,20.0,16.0
8,condition_9,13,2,45-49,1.0,2.0,2.0,6-10,1.0,2.0,26.0,26.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,condition_22,14,1,65-69,2.0,2.0,1.0,6-10,2.0,2.0,29.0,28.0
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
25,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
26,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
27,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
28,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
29,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
30,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
31,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
32,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
33,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
34,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
37,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
38,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
39,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
40,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
41,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
42,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
43,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
44,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
45,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
46,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
47,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
48,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
49,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
50,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
51,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
52,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
53,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
54,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN

In [6]:
df_condition = df[df.number.str.contains('condition')].copy()
df_control = df[df.number.str.contains('control')].copy()

In [7]:
df_control.corr()

,days,gender,afftype,melanch,inpatient,marriage,work,madrs1,madrs2
days,1.000000,-0.021264,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,-0.021264,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
afftype,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
melanch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inpatient,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marriage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
work,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
madrs1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
madrs2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_condition.corr()

,days,gender,afftype,melanch,inpatient,marriage,work,madrs1,madrs2
days,1.000000,-0.144804,-0.184464,-0.027340,-0.223032,0.390647,0.045526,0.122678,0.027726
gender,-0.144804,1.000000,0.064884,0.243086,0.175655,0.038169,-0.079259,-0.104832,-0.303410
afftype,-0.184464,0.064884,1.000000,-0.105150,-0.259938,-0.143091,0.053060,-0.132523,0.088863
melanch,-0.027340,0.243086,-0.105150,1.000000,0.404520,0.222681,-0.082572,-0.193593,-0.230484
inpatient,-0.223032,0.175655,-0.259938,0.404520,1.000000,-0.293590,-0.204124,-0.523501,-0.410235
marriage,0.390647,0.038169,-0.143091,0.222681,-0.293590,1.000000,0.146077,0.447590,0.150551
work,0.045526,-0.079259,0.053060,-0.082572,-0.204124,0.146077,1.000000,0.281104,0.027913
madrs1,0.122678,-0.104832,-0.132523,-0.193593,-0.523501,0.447590,0.281104,1.000000,0.653090
madrs2,0.027726,-0.303410,0.088863,-0.230484,-0.410235,0.150551,0.027913,0.653090,1.000000

In [9]:
df_condition['Group'] = 'Condition'
df_control['Group'] = 'Control'
combined_stats = pd.concat([df_condition, df_control])

In [10]:
fig = px.scatter_3d(combined_stats, x='Mean_MeanAct', y='Std_MeanAct', z='CV_Q99Act',
                    color='Group',
                    hover_data=['number'],
                    opacity=0.5)
fig.update_layout(title='Compare Groups using Mean/Stdev of Mean Daily Activity and CV of Daily 99th Perc.')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['number', 'days', 'gender', 'age', 'afftype', 'melanch', 'inpatient', 'edu', 'marriage', 'work', 'madrs1', 'madrs2', 'Group'] but received: Mean_MeanAct